 body{
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    background-image:url(../img/memoryGym.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: center;

 }
 .App{
     height:90vh;
     width:90vw;
     background-color:#11366F;
     font-family: 'Times New Roman', Times, serif;
     font: size 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     }
.container{
   height:25%;
   width:13%;
   margin:2px;
   position:relative;
   display: flex;
   flex-wrap: wrap;
   align-content:space-around;
   justify-content: space-around;
   
}
.cardStyle{
   width:100%;
   height:100%;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   transform:rotateY(180 deg);
  }
  .cardStyle img{
     height:70%;
     width: 70%;
  }
  .cardReverse{
   width:100%;
   height:100%;
   background-image:url(../img/question.jpg);
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transform:rotateY(180 deg);
    
  }
 /*.cardReverse image{
     max-width:100px;
     max-height:100px;
   
  }*/